.Excerpt{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-gap: $gap;
    grid-template-areas: 'img img img content content content content content content content';
    margin-bottom: 16px;
    &-title{
        margin: 0 0 8px 0;
    }
    &-created{
        color: $text-color-alt;
    }
    &-img{
        grid-area: img;
    }
    &-content{
        grid-area: content;
    }
    &-footer{
        display: flex;
        align-items: center;
        .avatar{
            margin-right: 8px;
        }
    }
}