$first-color: #D54E21;
$first-color-inverse: #FFFFFF;

$color-1: #FFF6F0;
$color-2: #FFDEC9;
$color-3: #FCC09F;
$color-4: #F09971;
$color-5: #E37346;
$color-6: $first-color;
$color-7: #B03412;
$color-8: #8A1F07;
$color-9: #630F00;
$color-10: #3D0700;

$blue-1: #e6f7ff;
$blue-2: #bae7ff;
$blue-3: #91d5ff;
$blue-4: #69c0ff;
$blue-5: #40a9ff;
$blue-6: #1890ff;
$blue-7: #096dd9;
$blue-8: #0050b3;
$blue-9: #003a8c;
$blue-10: #002766;

$green-1: #f6ffed;
$green-2: #d9f7be;
$green-3: #b7eb8f;
$green-4: #95de64;
$green-5: #73d13d;
$green-6: #52c41a;
$green-7: #389e0d;
$green-8: #237804;
$green-9: #135200;
$green-10: #092b00;

$gold-1: #fffbe6;
$gold-2: #fff1b8;
$gold-3: #ffe58f;
$gold-4: #ffd666;
$gold-5: #ffc53d;
$gold-6: #faad14;
$gold-7: #d48806;
$gold-8: #ad6800;
$gold-9: #874d00;
$gold-10: #613400;

$red-1: #fff1f0;
$red-2: #ffccc7;
$red-3: #ffa39e;
$red-4: #ff7875;
$red-5: #ff4d4f;
$red-6: #f5222d;
$red-7: #cf1322;
$red-8: #a8071a;
$red-9: #820014;
$red-10: #5c0011;






$second-color: #06C3FB;
$second-color-alt: #0092C8;
$second-color-inverse: #0C242F;

$accent-color: #06C3FB;
$accent-color-alt: #0092C8;
$accent-color-inverse: #ffe2e2;


$border-color: #EBECEE;
$text-color: #54575A;
$text-color-alt: #97999B;
$body-bg: #FAFBFF;
$body-bg-alt: #FFF;

// Menu
$menu-width: 220px;
$menu-hover-bg: #F9F9F9;
$menu-hover-color: $text-color;
$menu-mobile-bg: #FFF;
$menu-mobile-color: $text-color;

// Footer
$footer-bg: #282D31;
$footer-bg-alt: #141618;
$footer-color: #A6ADB4;

$dark-color: #282D31;
$light-color: #A6ADB4;
$dark-color-alt: #141618;
