.TopMenu{
    @include from(l){
        & > li > a {
            color: var(--first-color-inverse);
            line-height: 2.5rem;
            text-transform: lowercase;
            text-transform: capitalize;
            &:hover{
                color: white;
            }
        }
    }
    @include to(l){
        position: absolute;
        z-index: 101;
        right: 0;
        width: 220px;
        background: var(--body-bg-alt);
        box-shadow: 0 0 0 1px var(--border-color) inset;
        border-radius: 4px;
        display: none;
        a{
            line-height: 34px;
            padding: 0 16px;
        }
        li{
            @include to(l){
                border-bottom: 1px solid var(--border-color);
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}

.TopMenu-is-show{
    .TopMenu{
        @include to(l){
            display: block;
        }
    }
}

#TopMenu-toggle{
    font-size: 1.3rem;
    line-height: 3rem;
    color: var(--first-color-inverse);
}